tensorflow==2.5.0rc0
numpy==1.19.5
uvicorn==0.14.0
fastapi==0.66.0
h5py
python-multipart
keras
sys
os
matplotlib.pyplot
werkzeug.utils
gevent.pywsgi
matplotlib.image
tensorflow.keras.applications.imagenet_utils
tensorflow.keras.applications.imagenet_utils
